/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: radial-gradient(#09f 2px, transparent 1px),
    radial-gradient(#09f 2px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}
